<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pilwon.flashlight" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flashlight</name>
    <description>
        Malware-free Flashlight App
    </description>
    <author email="pilwon@gmail.com" href="http://pilwon.com">
        Pilwon Huh
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
